<div class="wrapper">
<form class="change-profile" [formGroup]="changeProfileForm">

  <mat-form-field class="input-full-width">

    <input  matInput  placeholder="Full name"
            [formControlName]="'fullName'">
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error
      *ngIf="fullName.invalid">{{getErrText('fullName')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Email"
           [formControlName]="'email'"  >
    <mat-icon matSuffix>email</mat-icon>
    <mat-error
      *ngIf="email.invalid">{{getErrText('email')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Skype" value="{{profile?.skype}}"
           [formControlName]="'skype'" >
    <mat-icon matSuffix>chat</mat-icon>
    <mat-error
      *ngIf="skype.invalid">{{getErrText('skype')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <span matPrefix>+375 &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone" value="{{profile?.telephone}}"
           [formControlName]="'telephone'" >
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error
      *ngIf="telephone.invalid">{{getErrText('telephone')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">

    <input type="tel" matInput placeholder="Additional" value="{{profile?.additional}}"
           [formControlName]="'additional'" >
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error
      *ngIf="additional.invalid">{{getErrText('additional')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-date">
    <input matInput  [max]="maxDate" [matDatepicker]="birthday" placeholder="Birthday"
           value="{{profile?.birthday}}" [formControlName]="'birthday'" >
    <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
    <mat-datepicker #birthday></mat-datepicker>
    <mat-error
      *ngIf="birthday.invalid">{{getErrText('birthday')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="description_profile">
    <textarea matInput placeholder="A few words about yourself" value="{{profile?.description}}"
              [formControlName]="'description'"></textarea>
    <mat-error
      *ngIf="description.invalid">{{getErrText('description')}}
    </mat-error>
  </mat-form-field>

  <div class="control-buttons">
    <button
      [disabled]="fullName.invalid || email.invalid || skype.invalid || telephone.invalid "
      matTooltip="Save data"
      aria-label="Button that displays a tooltip when focused or hovered over"
      mat-raised-button color="primary" class="save" (click)="changeProfile()"  >Save
    </button>

    <button matTooltip="Cancel save data"
            aria-label="Button that displays a tooltip when focused or hovered over"
            mat-raised-button class="cancel" (click)="onCancelClick()" >Cancel
    </button>
  </div>

</form>
</div>
