<div class="wrapper">

<form class="change-profile" [formGroup]="changeProfileForm">

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Full name" value="" required formControlName="fullName">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <input matInput placeholder="Email" value="" required formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <input matInput placeholder="Skype" value="" required formControlName="skype">
    <mat-icon matSuffix>chat</mat-icon>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <span matPrefix>+375 &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone" formControlName="telephone">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <span matPrefix>+ &nbsp;</span>
    <input type="tel" matInput placeholder="Additional" formControlName="additional">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field class="input-date">
    <input matInput [matDatepicker]="pickerTwo" placeholder="Birthday" formControlName="birthday">
    <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTwo></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="description_profile">
    <textarea matInput placeholder="A few words about yourself" formControlName="description"></textarea>
  </mat-form-field>

  <div class="control-buttons">
    <button
      matTooltip="Save data"
      aria-label="Button that displays a tooltip when focused or hovered over"
      mat-raised-button color="primary" class="save" (click)="changeProfile()">Save
    </button>
    <button matTooltip="Cancel save data"
            aria-label="Button that displays a tooltip when focused or hovered over"
            mat-raised-button class="cancel" (click)="onCancelClick()">Cancel
    </button>
  </div>

</form>
</div>
