<div class="edit-user">
    <h2 mat-dialog-title align="center">Registration</h2>
    <form [formGroup]="userForm">
        <mat-form-field>
            <input matInput placeholder="Name" [formControlName]="'name'" required>
            <mat-error *ngIf="name.invalid">{{getErrorText('name')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" [formControlName]="'password'" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.invalid">{{getErrorText('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm password" [formControlName]="'confirmPassword'" [type]="hide ? 'password' : 'text'" required>
          <mat-error *ngIf="confirmPassword.invalid">{{getErrorText('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [formControlName]="'email'">
            <mat-error *ngIf="email.invalid">{{getErrorText('email')}}</mat-error>
        </mat-form-field>
    </form>
    <div class="edit-user-controls">
        <button mat-button color="primary" [disabled]="userForm.invalid" [mat-dialog-close]="userForm.getRawValue()"
            cdkFocusInitial>
            Save
        </button>
        <button mat-button color="warn" (click)=onCancelClick()>Cancel</button>
    </div>
</div>
