.edit-user {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 500px;
;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-user-controls {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
