<div class="edit-user">
    <h2 mat-dialog-title>{{title}}</h2>
    <form [formGroup]="userForm">
        <mat-form-field>
            <input matInput placeholder="Name" [formControlName]="'name'" required>
            <mat-error *ngIf="name.invalid">{{getErrorText('name')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" [formControlName]="'password'" required>
            <mat-error *ngIf="password.invalid">{{getErrorText('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [formControlName]="'email'">
            <mat-error *ngIf="email.invalid">{{getErrorText('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [max]="maxDate" [formControlName]="'dateOfBirth'" placeholder="Birthday" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    </form>
    <div class="edit-user-controls">
        <button mat-button color="warn" (click)=onCancelClick()>Cancel</button>
        <button mat-button color="primary" [disabled]="userForm.invalid" [mat-dialog-close]="userForm.getRawValue()"
            cdkFocusInitial>
            Save
        </button>
    </div>
</div>