.wrapper {
  overflow-y: scroll;
  height: 100%;
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.title {
  color: #3f51b5;
  text-align: center;
}

.button-add,.button-project,.button-search {
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  min-height: 40px;
}

.button-search {
  margin-left: 100px;
}
.button-project {
  margin-left: 60px;
}
.button-add {
  margin-right: 100px;
}

