<div class="wrapper">
<div mat-dialog-title>
  <h1 class = "title">Dashboard</h1>
</div>
<div class="dashboard-header">
  <div>
    <button class="button-search" mat-raised-button color="primary" mat-button (click)="createSearchClick()" >Search</button>
    <button class = "button-project"  mat-raised-button color="primary" mat-button (click)="createProjectClick()">Project</button>
  </div>
  <div>
    <button class="button-add" mat-raised-button color="primary" mat-button (click)="selectFilterClick()">Add</button>
  </div>
</div>


<app-widget>

</app-widget>
</div>
