<div class="modal">
  <mat-form-field class="field">
    <input  matInput  placeholder="Filter" value="">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"><a class="a">{{element.name}}</a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="control-buttons">
    <button
      matTooltip="Cancel save data"
      aria-label="Button that displays a tooltip when focused or hovered over"
      mat-raised-button color="primary" class="save" (click)="onSaveClick()"  >Save
    </button>
    <button matTooltip="Continue save data"
            aria-label="Button that displays a tooltip when focused or hovered over"
            mat-raised-button color="primary" class="cancel" (click)="onCancelClick()" >Cancel
    </button>
  </div>
</div>
