<!--<app-abstract-select-form [controlName]="controlName" [placeholder]="placeholder" [multiple]="multiple">-->
<!--</app-abstract-select-form>-->

<app-abstract-select-form [controlName]="controlName" [placeholder]="placeholder"
                          [multiple]="multiple" [itemTemplate]="customItem" [valueTitleKey]="valueTitleKey">
  <!--[multiple]="multiple" [itemTemplate]="customItem" [itemValueKey]="'id'" >-->
  [multiple]="multiple" [itemTemplate]="customItem" [itemValueKey]="'login'" >
</app-abstract-select-form>

<ng-template let-item="item" #customItem>
