<mat-form-field class="assignee-input">

  <input matInput [formControl]="assignee"
         placeholder="Assignee"
         [matAutocomplete]="auto"
         required>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onItemSelect($event)">
    <mat-option *ngFor="let item of items$ | async" [value]="item">
      <span class="assigneeFIO">{{ item.FIO}}</span>
      <span class="assigneeLogin">@{{item.login}}</span>
      {{item.name}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
