.assignee-form {
  display: flex;
  width: 200px;
}

.chips-overflow .md-chips {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.chips-overflow .md-chips md-chip,
.chips-overflow .md-chips .md-chip-input-container {
  display: inline-block;
  float: none;
}
