.example-container {
  height: 400px;
  overflow: auto;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;

}

table {
  width: 100%;
  border: 1px solid #69c;
}

th {
  font-weight: normal;
  color: #039;
  border-bottom: 1px dashed #69c;
  padding: 12px 17px;
}

td {
  color: #669;
  padding: 7px 17px;
}

tr:hover td {background: #ccddff;}

.word-details{
  font-size: 25px;
}

.details .sub-details{
  padding-left: 50px;
}

.detail-parameter, .detail-value{
  font-size: 20px;
}

