.login-user {
    display: flex;
    flex-direction: column;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-user-button {
  align-self: flex-end;
  margin-right: 40px;
}

.edit-user-controls {
  align-self: center;
}
