

<form [formGroup]="projectForm" class="create-project">

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Reporter" value="Admin (you)" disabled>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Status" value="OPEN" disabled>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Name" [formControlName]="'projectName'" required>
    <mat-error
      *ngIf="projectName.invalid">{{getErrorText('projectName')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput placeholder="Code" [formControlName]="'projectCode'" minlength="3" pattern="[A-Z]+">
    <mat-error *ngIf="projectCode.invalid">{{getErrorText('projectCode')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="description_project">
    <textarea matInput placeholder="Description" [formControlName]="'projectDescription'"></textarea>
  </mat-form-field>

  <div class="control-buttons">
    <button
      [disabled]="projectCode.invalid || projectName.invalid"

      matTooltip="Create project"
      aria-label="Button that displays a tooltip when focused or hovered over"
      mat-raised-button class="control-button create" (click)=onCreateClick()>Create
    </button>
    <button matTooltip="Cancel creating project"
            aria-label="Button that displays a tooltip when focused or hovered over"
            mat-raised-button class="control-button cancel" (click)=onCancelClick()>Cancel
    </button>
  </div>

</form>

