.subtasksTable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  height: 258px;
  max-width: 552px;
  border: 1px solid lightgray;
}

.noSubtasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 258px;
  max-width: 552px;
  border: 1px solid lightgray;
}



