<div>
  <h2>Subtasks
    <button mat-raised-button color="primary" (click)="onCreateSubtaskClick()" [disabled]="createSubtask">Create</button>
  </h2>

  <div *ngIf="haveSubtasks ;else subtasksTemplate" class="subtasks-table">
    <table mat-table [dataSource]="subtasks" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let subtask">
          <span (click)="selectSubtask(subtask)"> {{subtask.issueName}} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let subtask"> {{subtask.issueDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let subtask"> {{subtask.issueStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #subtasksTemplate>
    <div class="noSubtasks">
      <h2>
        No subtasks
      </h2>
    </div>
  </ng-template>
</div>
