.input-full-width {
  width: 80%;
  margin:20px 20px 20px 20px;
}

.control-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 15px;
}

.control-button {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin: 10px;
}
