<form class="">

  <mat-form-field class="input-full-width">
    <mat-select [(ngModel)]="selectedUser" placeholder="Choose user ..." name="user" multiple="false" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let user of possibleUsers" [value]="user">{{user.firstName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-select [(ngModel)]="selectedRole" placeholder="Role" name="role" multiple="false" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let role of roles" [value]="role">{{role.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="control-buttons">
    <button
      matTooltip="Add member"
      mat-raised-button
      class="control-button create"
      (click)="onClickAddMember()">Add
    </button>

    <button matTooltip="Cancel"
            mat-raised-button
            class="control-button cancel"
            (click)="onCancelClick()">Cancel
    </button>
  </div>
</form>

