<mat-icon>account_circle</mat-icon>
<div class="one">
  <mat-form-field  >
    <input matInput placeholder="Name">
</mat-form-field>
<mat-form-field class="example-container">
  <input matInput placeholder="Email">
</mat-form-field>
<mat-form-field >
  <input matInput placeholder="Access">
</mat-form-field>
<mat-form-field >
  <input matInput placeholder="Role">
</mat-form-field>
<div class="example-button-row">
  <button mat-raised-button color="primary">Change profile</button>
</div>
</div>




