<div class="wrapper">

  <mat-icon class="icon">account_circle</mat-icon>

  <div class="one">
    <mat-form-field class="width">
        <input matInput placeholder="Full name" disabled>
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="half">
      <input matInput placeholder="Email" disabled>
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Skype" disabled>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field class="half">
    <input matInput placeholder="Telephone" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Additional" disabled>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <mat-form-field class="width">
    <input matInput placeholder="A few words about yourself" disabled>
    <mat-icon matSuffix>info</mat-icon>
    </mat-form-field>
    <mat-form-field class="">
      <input matInput placeholder="Birthday" disabled>
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="onChangeClick()">Change profile</button>
    </div>
  </div>

  <mat-card class="example-card">
    <div class="wrapper">
    <mat-list class="height">
      <h3 mat-subheader class="action">Actions</h3>
      <mat-list-item *ngFor="let action of Actions">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-divider></mat-divider>
        <h4 mat-line>{{action.name}}</h4>
        <p mat-line> {{action.updated | date}} </p>
      </mat-list-item>
    </mat-list>
    </div>
  </mat-card>

  <div class="dashboard-card">
  <mat-card >
    <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="dashboards" >
        {{node.name}}
        </div>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button  mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="dashboard-head" >
        {{node.name}}
        </div>
      </mat-tree-node>
    </mat-tree>
  </mat-card>
  </div>

  <div class="filter-card">
    <mat-card >
      <mat-tree  [dataSource]="dataSource2" [treeControl]="treeControl2">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <div class="filters" >
            {{node.name}}
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button  mat-icon-button matTreeNodeToggle
                   [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl2.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <div class="filter-head" >
            {{node.name}}
          </div>
        </mat-tree-node>
      </mat-tree>
    </mat-card>
  </div>

  <div class="project-card">
    <mat-card >
      <mat-tree  [dataSource]="dataSource3" [treeControl]="treeControl3">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <div class="projects" >
            {{node.name}}
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button  mat-icon-button matTreeNodeToggle
                   [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl3.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <div class="project-head" >
            {{node.name}}
          </div>
        </mat-tree-node>
      </mat-tree>
    </mat-card>
  </div>

</div>

