mat-card {
  height: 460px;
}

.comment-tab {
  padding-top: 5px;
}

.comments-table {
  height: 280px;
  max-width: 490px;
  overflow: auto;
  border: 1px solid lightgray;
}

.send-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.comment-field {
  width: 450px;
  height: 100px;
}

.comment-div {
  height: 75px;
}

.commentText {
  overflow: auto;
  max-width: 500px;
  padding-left: 2px;
  padding-right: 2px;
}

table {
  max-width: 480px;
}

.noComments {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  border: 1px solid lightgray;
}

.commentInput {
  height: 32px;
}

.button-size {
  width: 200px;
  font-size: 17px;
}

