.mat-toolbar {
  justify-content: flex-start;
}

.toolbar-controls {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.toolbar-contols {
  align-content: space-between;
}

.toolbar-contols button:hover {
  background-color: navy;
}

.toolbar-contols .username:hover {
  background-color: red;
}
.username {
  color: darkred;
}

.dashboard-head {
  font-size: 32px;
}
.dashboards{
  font-size: 24px;
}
.dashboard-card{
  margin: 40px 100px 250px;
  min-width: 370px;
}
