<mat-toolbar color="primary">
  <div class="toolbar-contols">
      <div class="log">
        <button mat-button *ngIf="!(currentUser | async);else loginUser" (click)="onLoginClick()">Login</button>
      </div>
      <div class="navigation">
        <button mat-button *ngIf="!(currentUser | async); else loginUser" (click)="onLoginClick()" routerLink="">Dashboard</button>
        <button mat-button *ngIf="!(currentUser | async); else loginUser" (click)="onLoginClick()" routerLink="">Project</button>
      </div>
      <ng-template #loginUser>
        <button mat-button (click)="onLogoutClick()">Logout</button>
        <button class="username" mat-button (click)="onUserProfile()">User.name</button>
      </ng-template>
  </div>


</mat-toolbar>
