<mat-toolbar color="primary">
  <div class="toolbar-controls">

      <div class="log">
        <button mat-button *ngIf="!(currentUser | async);else loginUser" (click)="onLoginClick()">Login</button>
      </div>
      <div >
        <button mat-button *ngIf="(currentUser | async); " [routerLink]="'home'">
          <img src="assets/Icons/Home.png" height="30" widt="30"/>
        </button>

        <mat-menu #appMenu="matMenu">
          <button mat-raised-button (click)="createDashboard()">Create dashboard</button>

          <mat-option *ngFor="let item of dashboards$ | async" [value]="item.id" (click)="chooseDashboard(item)">
            {{ item.name }}
          </mat-option>
        </mat-menu>

        <button mat-button *ngIf="(currentUser | async);" [matMenuTriggerFor]="appMenu" (click)="getAllDashboard()">Dashboards
        </button>

<!--        <a mat-button *ngIf="(currentUser | async); " [routerLink]="'dashboard'">Dashboards</a>-->
        <a mat-button *ngIf="(currentUser | async); " [routerLink]="'projects'">Projects</a>

        <a mat-stroked-button *ngIf="(currentUser | async); " (click)="createTicket()">Create issue</a>
        <a mat-stroked-button class="button-interval" *ngIf="(currentUser | async); " [routerLink]="'home'">Search</a>
      </div>

    <ng-template #loginUser>
      <button mat-stroked-button (click)="onLogoutClick()">Logout</button>
      <button class="username" color="red" mat-button [routerLink]="'profile'">
        {{userName | async}}
        <img src="assets/Icons/User.png" height="30" width="30" class="button-interval"/>
      </button>
    </ng-template>
  </div>


</mat-toolbar>
