.ticket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  height: 90%;
}

.content {
  display: flex;
  flex-direction: row;
}

.name-card {
  height: 40px;
}
.edit-icon {
  font-size: 20px;
}

.ticket-title {
  size: 800px;
}
.project-subtitle {
  height: 1px;
}

.people {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.assignee-title{
  height: 5px;
}

.assignee-subtitle {
  max-width: 5px;
}

.reporter-assignee{
  height: 50px;
}

.type-priority-status {
  padding-top: 5px;
  width: 555px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}

.people-icon {
  font-size: 50px;
}

.dates {
  width: 235px;
  height: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.description {
  width: 555px;
  height: 70px;
}

mat-form-field {
  padding-right: 10px;
}

.due {
  width: 110px;
  height: 5px;
}

.comment-history {
  padding-left: 10px;
  padding-top: 5px;
}

.size {
  width: 175px;
}

.create-date {
  height: 5px;
}

.button-size {
  width: 200px;
  font-size: 17px;
}
