mat-spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.name {
  width: 100%;
}

.name-card {
  height: 65px;
}
.edit-icon {
  font-size: 20px;
}

.project-subtitle {
  height: 1px;
  padding-left: 20px;
}

.project-title {
  height: 5px;
  padding-left: 20px;

}

.project-icon {
  font-size: 80px;
}

.people {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.assignee-title{
  height: 5px;
}

.assignee-subtitle {
  max-width: 5px;
}

.reporter-assignee{
  height: 50px;
}

.type-priority-status {
  padding-top: 5px;
  width: 555px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}

.people-icon {
  font-size: 50px;
}

.dates {
  width: 235px;
  height: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.description {
  width: 555px;
}

mat-form-field {
  padding-right: 10px;
}

.due {
  width: 110px;
}

.comment-history {
  padding-left: 10px;
  padding-top: 5px;
}

.size {
  width: 175px;
}
