.ticket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
  height: 100%;
}

.project {
  width: 215px;
}

.people {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-right: 5px;
}

img {
  width: 50px;
  height: 50px;
}

.projIcon {
  font-size: 50px;
}

.people-icon {
  font-size: 50px;
}

.dates {
  width: 185px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 5px;
}

.description {
  width: 555px;
}

mat-form-field {
  padding-right: 10px;
}

.due {
  width: 110px;
}

.subtasks {
  background: darkgrey;
}
